name: Node.js CI/CD

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x]
    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm ci
    # - run: npm run build --if-present
    # - run: npm test

  deploy:
    needs: build  # <--- اتعدلت هنا لـ build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code # <--- دي لازم تكون على نفس مستوى name اللي تحتها
        uses: actions/checkout@v4
      
      - name: Copy files to AWS via SCP # <--- اتعدلت المسافات هنا
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.HUSSIEN1 }}
          username: ubuntu
          key: ${{ secrets.HUSSIEN3 }}
          source: ".,!node_modules"
          target: "/home/ubuntu/app"
          strip_components: 0
